# DAC121S101 SPI DAC - Pin Constraints
# Signal names from docs/pins_nandland_go.pcf

set_io i_Clk 15

set_io i_Switch_1 53

set_io io_PMOD_1 65
set_io io_PMOD_2 64
set_io io_PMOD_3 63

set_io o_LED_1 56
set_io o_LED_2 57
