# AD7476 SPI ADC - Pin Constraints
# Signal names from docs/pins_nandland_go.pcf

set_io i_Clk 15

set_io i_Switch_3 54

set_io io_PMOD_7 78
set_io io_PMOD_8 79
set_io io_PMOD_9 80

set_io o_LED_3 59
set_io o_LED_4 60
